html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  padding: 40px;
  padding-left: 30px;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  margin: 20px;
}
 
ul {
  list-style-type: none;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  color: #fff;
}
 
li img {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  height: 82px;
  width: 82px;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  color: #fff;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #c96736;
  cursor: pointer;
}