html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: #141e30;
}

div {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 650px;
  padding: 40px;
  padding-left: 20px;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  margin: 20px;
}
 
ul {
  list-style-type: none;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  color: #fff;
}
 
li img {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  margin-right: 20px;
  height: 82px;
  width: 82px;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  color: #fff;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #c96736;
  cursor: pointer;
}

div .newbook {
  position: relative;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  background: #141e30;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 0px;
  letter-spacing: 4px
}

div .newbook:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}